@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  display: flex;
  width: max-content;
  animation: scroll 20s linear infinite;
}

.hover\:pause-scroll:hover {
  animation-play-state: paused;
}

/* Hide scrollbar */
::-webkit-scrollbar {
  display: none;
}
